language: perl
perl:
  - "5.24"
  - "5.22"
  - "5.20"
  - "5.18"
  - "5.16"
  - "5.14"
notifications:
  email: false
  irc:
    channels:
      - "irc.perl.org#net-twitter"
    template:
      - "%{result}: %{repository} (%{commit}) %{commit_subject}"
